body{
 background-color: black;
 display:flexbox;
 margin-left: 450px;
 margin-right: 350px;
 
}
h1 {
    color: white;
    text-align:auto;
   }
h2 {
 color: white;
 text-align:auto;
}
h3{
    color: white;
}
h4{
    color: white;

}
p{
    color: white;
}